# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Loading/.vs/Loading/v17/.suo
Loading/Loading.sln
Loading/x64/Debug/vc143.pdb
Loading/Loading.vcxproj.user
Loading/Loading.vcxproj
Loading/Loading.vcxproj.filters
Loading/x64/Debug/Loading.exe.recipe
Loading/x64/Debug/Loading.ilk
Loading/x64/Debug/Loading.tlog/CL.read.1.tlog
Loading/x64/Debug/Loading.tlog/CL.write.1.tlog
Loading/x64/Debug/Loading.tlog/link.command.1.tlog
Loading/x64/Debug/Loading.tlog/link.write.1.tlog
Loading/x64/Debug/Loading.tlog/link.read.1.tlog
Loading/x64/Debug/Loading.tlog/CL.command.1.tlog
Loading/x64/Debug/Loading.tlog/Loading.lastbuildstate
Loading/x64/Debug/Loading.vcxproj.FileListAbsolute.txt
Loading/x64/Debug/vc143.idb
Loading/x64/Debug/Loading.pdb
Loading/x64/Debug/Loading.log
/Loading/.vs/Loading/FileContentIndex
